.HomeMapContainer {
  display: flex;
  width: 100vw;
}

.HomeMap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8FFF4;
  min-height: 100vh;
  width: 100vw;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-decoration: none;
}
