.HomeMapContainer {
  display: flex;
  width: 100vw;
}

.HomeMap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8FFF4;
  min-height: 100vh;
  width: calc(100vw);
}
